.form__landing {
  background-color: #F7F7F7;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  color: #000;
  border-top: 5px solid #781126;
}

.form__input {
  background-color: #FFF;
  padding: 30px;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: "⚠ ";
}

.form__landing h4 {
  text-align: left;
}

.prospect {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 28%;
}

.contact {
  margin-bottom: 30px;
}

.btn {
  width: 100%;
  background-color: #333;
  border-color: #333;
}

.btn:hover {
  background-color: #000;
}