.form__landing {
  background-color: #F7F7F7;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000;
}

.form__input {
  background-color: #FFF;
  padding: 30px;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: "⚠ ";
}

h4 {
  text-align: left;
}